body {
  background-color: lightblue;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
h1 {
  text-align: center;
  margin-bottom: 80px;
}
ul {
  position: relative;
  list-style: disc;
  margin-bottom: 40px;
}
p {
  font-weight: bold;
}
.btn__run {
  text-align: right;
  margin-right: 150px;
}
.task {
  padding: 10px 30px;
  background: linear-gradient(to right, rgb(218, 99, 99), rgb(79, 206, 100));
  border-radius: 10px;
  font-size: 24px;
}
.container {
  width: 80%;
  margin: auto;
}
.last {
  padding-bottom: 100px;
}
.star {
  font-weight: bold;
  color: rgb(194, 55, 55);
}
.anchor {
  text-align: center;

  padding-bottom: 80px;
}
.page {
  color: rgb(136, 67, 11);
  text-decoration: underline;
  text-decoration-color: rgb(60, 22, 163);
  text-decoration-thickness: 4px;
  animation: blink 500ms infinite;
}

@keyframes blink {
  0% {
    text-decoration-color: rgb(60, 22, 163);
  }
  25% {
    text-decoration-color: rgb(27, 5, 223);
  }
  50% {
    text-decoration-color: rgb(185, 54, 54);
  }
  75% {
    text-decoration-color: rgb(116, 6, 6);
  }
  100% {
    text-decoration-color: transparent;
  }
}
